body {
  /* background-color: black; */
  text-align: center;
  padding-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-color: #f5f8fa;
}


.searchboxWrapper {
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 15px;
  box-shadow: 0 0.3rem 1rem rgba(8, 38, 78, 0.2);
}



.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
}

.loader {
  color: blue;
  font-size: smaller;
}
